<div class="addUser">
  <div class="popupcontainer">
    <div class="header">
      <div class="headertext">
        Add User
      </div>
    </div>

    <div class="form">
      <app-userdetails></app-userdetails>
    </div>
    <div class="seperator"></div>
    <div class="form">
      <div class="actionBtnGroup">
        <button type="button" (click)="activeModal.dismiss()" class="btn btn-primary">Cancel</button>
        <span class="space"> </span>
        <button type="button" (click)="addThisUser()" class="btn btn-secondary" [disabled]="!formValid">Submit</button>
      </div>
    </div>
  </div>
</div>
