.form {
    margin: 1rem 2rem 1rem 2rem;
}

.formError {
    color: $error-color;
    margin-bottom: 1rem;
}

.formFields {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    // margin-left:  1 rem;
}


.formLabel{
    flex-grow: 1;
    flex-basis: 0;
    align-self: baseline;
}

.formLabel.systemTime{
    align-self: center;
}

.form-control {
    margin-top: 1rem;
    flex-grow: 2;
    flex-basis: 0;
}

.form-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 1rem;
    
}

.form-container-full {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    
}

.timePicker  {
    flex-grow: 1.4;
}

.chevron {
    color: $primary-color;
}