$primary-color: #2D2D2D;
$secondary-color: rgb(255, 242, 0);
$alternate-color: white;

$disabled-text-color: #a6a7a8;
$disabled-back-color: #e1e1e1;

$primary-back-color: #191919;
$secondary-back-color: #343A40;

$error-color: red;