.config {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.maincontainer {
    width: 85%;
    height: 85%;
    background: white;
    max-width: 50%;
}