.leftNavBar {
    width: 200px;
    height: 100%;
    color: white;
    background: #191919;
    margin-right: 1rem;
    margin-top: 5px;
}

.leftNavActions {
    /* padding-top: 1rem;
    padding-bottom: -1rem; */
    font-size: 15px;
    color: #CCCECF;
    background: rgb(27, 27, 26);
    box-shadow: 0px 10px 7px -3px rgb(3, 3, 3);
    height: 50px;
}

.provisionactions {
    padding-top: 0.5rem;

    font-size: 20px;
    color: #CCCECF;
}

.controlactions {
    padding-top: 0.8rem;
    font-size: 15px;
    color: #CCCECF;
}

.provisionactions :hover{
    color: white;
}

.devicesList {
    margin-top: 1rem;
}