.fullHW {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #232323;
  box-shadow: 0px 0px 200px 30px rgba(3, 3, 3, 0.973), 0px 0px 200px 30px rgba(12, 12, 12, 0.945);
}

.container {
  background: white;
  height: 300px;
  vertical-align: center;
  padding-left: 0%;
  padding-right: 0%;
}

.logo {
  width: 100%;
  height: 80px;
  align-self: center;
}

.btn-primary {
  margin-top: 40px;
  background: #2D2D2D;
  color: rgb(255, 242, 0);
  border-color: #2D2D2D;
  width: 100%;
}

.loginHeader {
  background: #2D2D2D;
  height: 40%;
  padding-right: 2rem;
  padding-left: 2rem;
}

.forgotPasswordForm {
  margin: 2rem;
}

.forgotpassword {
  margin-top: 1rem;
}
