<div class="fullHW">
  <div class="container" fxFlex.xl="20" fxFlex.lg="25" fxFlex.md="30" fxFlex.sm="60" fxFlex.xs="90" fxLayout="column" fxLayoutGap="20px">
    <div class="loginHeader" fxLayout="column" fxLayoutAlign="center">
      <img class="logo" src="/assets/logo.png" />
    </div>

    <div class="forgotPasswordForm">
      <form [formGroup]="form" (ngSubmit)="forgotPassword()">
        <input id="email" type="text" class="form-control" placeholder="Email" [formControl]="emailFormControl" [appFieldValidator]="emailFormControl"
          [errorsModel]="errorsmodel" />
        <span class="formError" *ngIf="emailFormControl.touched && emailFormControl.errors">{{errors.emailError}}</span>
        <div fxLayout="row" fxLayoutGap="50px">
          <button [routerLink]="['/signin']" class="btn btn-primary">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>

      </form>

    </div>

  </div>
</div>
