<div class="networkConfig">

  <div class="form-container">
    <div class="heading">
      Network Configuration
    </div>
    <div class="form">
      <form [formGroup]="formNetwork" (ngSubmit)="saveNetworkConfiguration()">
        <div class="formFields">
          <label class="formLabel" for="networkName">Network Name</label>
          <input id="networkName" type="text" class="form-control" placeholder="Name" [formControl]="networkNameFormControl"
            [appFieldValidator]="networkNameFormControl" [errorsModel]="errorsmodel" />  
        </div>
        <span  class="formError" *ngIf="networkNameFormControl.touched && networkNameFormControl.errors">{{errors.networkName}}</span>
       
        
        <div class="formFields">
          <label class="formLabel" for="threadMasterKey">Thread Master Key</label>
          <input id="threadMasterKey" type="text" class="form-control" placeholder="Master Key" [formControl]="threadMasterKeyFormControl"
          [appFieldValidator]="threadMasterKeyFormControl" [errorsModel]="errorsmodel" />
        </div>
        <span class="formError" *ngIf="threadMasterKeyFormControl.touched && threadMasterKeyFormControl.errors">{{errors.masterKeyError}}</span>

        <div class="formFields">
          <label class="formLabel" for="threadChannel">Thread Channel</label>
          <input id="threadChannel" type="text" class="form-control" placeholder="Channel" [formControl]="threadChannelFormControl"
          [appFieldValidator]="threadChannelFormControl" [errorsModel]="errorsmodel" />
        </div>
        <span class="formError" *ngIf="threadChannelFormControl.touched && threadChannelFormControl.errors">{{errors.channelError}}</span>

        <div class="formFields">
          <label class="formLabel" for="threadPanId">Thread Panid</label>
          <input id="threadPanId" type="text" class="form-control" placeholder="Panid" [formControl]="threadPanIdFormControl"
          [appFieldValidator]="threadPanIdFormControl" [errorsModel]="errorsmodel" />
        </div>
        <span class="formError" *ngIf="threadPanIdFormControl.touched && threadPanIdFormControl.errors">{{errors.panIdError}}</span>

        <div class="formFields">
          <label class="formLabel" for="threadExtendedPanId">Thread Extended Panid</label>
          <input id="threadExtendedPanId" type="text" class="form-control" placeholder="Extended Panid" [formControl]="threadPanIdFormControl"
          [appFieldValidator]="threadExtendedPanIdFormControl" [errorsModel]="errorsmodel" />
        </div>
        <span class="formError" *ngIf="threadPanIdFormControl.touched && threadPanIdFormControl.errors">{{errors.extendedPanIdError}}</span>
        <div class="actionBtnGroup">
          <span class="spacer" fxFlex></span>
          <div class="form-control">
          <button type="submit" class="btn btn-primary" [disabled]="canSubmit()">Submit</button>
          <button class="btn btn-secondary" (click)="resetForm()" >Reset</button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>
