<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand navbar-left" href="#">
          <img src="/assets/logo.png" width="160" height="40" alt="">
      </a>
      <ul #mainMenuItems class="navbar-nav navbar-center navbarSupportedContent">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/portal','control']">
          <a class="nav-link fa fa-tachometer">
          </a>
          <a class="nav-link">Control</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLink]="['/portal','provision']">
            <a class="nav-link fa fa-podcast" >
            </a>
          <a class="nav-link">Provision</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLink]="['/portal','usermanager']">
            <a class="nav-link fa fa-users">
              </a>
            <a class="nav-link">Users</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLink]="['/portal','firmwareupdate']">
            <a class="nav-link fa fa-microchip">
              </a>
            <a class="nav-link">Firmware</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLink]="['/portal','configuration']">
            <a class="nav-link fa fa-cog">
              </a>
            <a class="nav-link">Configuration</a>
        </li>
      </ul>
      
      <ul class="navbar-nav nav-right">
        <li class="nav-item dropdown dropdown-pull-right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" [routerLink]="['/signin']">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Signout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>