<div class="base-container">
  <div class="main-container">
    <div class="header">
      <div class="header-text">
        Profile
      </div>
    </div>
    <div class="form-container">
      <div class="form">
        <app-userdetails></app-userdetails>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="form-container">
      <div class="form">
        <div class="action-btn-group">
          <button type="button" class="btn btn-secondary">Cancel</button>
          <span class="space"> </span>
          <button type="button" (click)="updateProfile()" class="btn btn-primary" [disabled]="!formValid">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
