<div class="profile">

  <div class="maincontainer">
    <div class="header">
      <div class="headertext">
        Profile
      </div>
    </div>
    <div class="form-container">
      <div class="form">
        <app-userdetails></app-userdetails>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="form-container">
      <div class="form">
        <div class="actionBtnGroup">
          <button type="button" class="btn btn-primary">Cancel</button>
          <span class="space"> </span>
          <button type="button" (click)="updateProfile()" class="btn btn-secondary" [disabled]="!formValid">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
