<div class="form-container">
  <div class="heading">
    System Configuration
  </div>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="saveSystemConfiguration()">
      <div class="form-fields">
        <label class="form-label systemTime" for="systemTime">System Time</label>
        <div class="timePicker">
          <ngb-timepicker id="systemTime" [formControl]="systemTimeFormControl"></ngb-timepicker>
        </div>
      </div>
      <span class="form-error" *ngIf="systemTimeFormControl.touched && systemTimeFormControl.errors">{{errors.systemTime}}</span>
      <div class="action-btn-group">
        <span class="space" fxFlex></span>
        <div class="form-control">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
          <button class="btn btn-secondary" (click)="resetForm()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
