<div class="userList">
    <div class="maincontainer">
    <div class="header">
      <div class="headertext">
            User List
      </div>
      
      <div class="headeraction">
            <i class="fa fa-plus addaction" aria-hidden="true" (click)="addNewUser()"></i>
      </div>
      
    </div>
    <div class="dataTableContainer">
            <ngx-datatable #tblStudents 
            class='material' 
            [columnMode]="'force'" 
            [headerHeight]="50" 
            [footerHeight]="50" 
            [rows]='rows'
            [limit]="10"
            [rowHeight]="'auto'">
        
                <ngx-datatable-column name="User Name" prop="username" [width]="200" [sortable]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template >
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="Name" prop="name" [width]="200" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template >
                            {{ value }}
                        </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="User Role" prop="role" [width]="200" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template >
                            {{ value }}
                        </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="Address" prop="address" [width]="200" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template >
                            {{ value }}
                        </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Conact Number" prop="contactNumber" [width]="200" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template >
                            {{ value }}
                        </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="Actions" prop="name" [maxWidth]="150" [sortable]="false">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <a class="fa fa-pencil-square-o" (click)="startEdit(rowIndex)" aria-hidden="true"></a>
                          <span class="space"> </span>
                          <a class="fa fa-trash-o" (click)="startDelete(rowIndex)" aria-hidden="true"></a>
                        </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
    </div>

    </div>
</div>