/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
html,
body {
    width: 100%;
    height: 100%;
    background: #191919 !important;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-secondary {
    margin-top: 40px;
    background: #2D2D2D;
    color: rgb(255, 242, 0);
    border-color: #2D2D2D;
    width: 100%;
}

.btn-primary {
    margin-top: 40px;
    background: rgb(255, 242, 0);
    color: #2D2D2D;
    border-color: rgb(255, 242, 0);
    width: 100%;
}


.btn:hover{
    margin-top: 40px;
    background: #2D2D2D;
    color: rgb(255, 255, 255);
    border-color: #2D2D2D;
    width: 100%;
}

.content {
    color: white;
    display: flex;
    flex-direction: row;
    min-height: 90%;
    background: rgb(0, 0, 0);
}

.formError {
    color: red;
    margin-bottom: 1rem;
}

.formFields {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    // margin-left:  1 rem;
}

.formLabel{
    flex-grow: 1;
    vertical-align: center;
    flex-basis: 0;
    vertical-align: middle;
}

.form-control {
    margin-top: 1rem;
    flex-grow: 2;
    flex-basis: 0;
}


