<div class="rightNavBar" fxLayout="row" fxLayoutAlign="center">
  <div class="rightNavActions" fxLayout="column" fxLayoutGap="4rem">
    <i ngbTooltip="Provision" data-placement="left" container="body" class="fa fa-podcast"></i>
    <i ngbTooltip="Upload Floor Map" data-placement="left" container="body" class="fa fa-upload"></i>
    <i ngbTooltip="Settings" data-placement="left" container="body" class="fa fa-cog"></i>
    <i ngbTooltip="Scheduling" data-placement="left" container="body" class="fa fa-calendar-check-o"></i>
    <i ngbTooltip="Export Floor Plan" data-placement="left" container="body" class="fa fa-external-link"></i>
    <i ngbTooltip="Identify" data-placement="left" container="body" class="fa fa-bullseye"></i>
  </div>
</div>
